doctype
html
	head
		include components/meta.jade
	body
		include components/header.jade

		main
			section(id="content" class="content-404")

				div(class="center clear")
					div(id="block-404")
						img(src="i/404.png")
						div(id="title-404") Все резиновые уточки ушли в плавание
						div(id="text-404") А вы попробуйте найти снова:
						form
							input(id="search-404" type="text")