doctype
html
	head
		include components/meta.jade
	body
		include components/header.jade

		main
			section(id="content")
				include components/breadcrumbs.jade
				div(class="center clear")
					h1(class="content-header") Каталог
					aside(id="sidebar" class="left-sidebar clear")
						section(id="sidebar-one-levlel")
							ul
								li.active
									a(href="#") Классика
								li
									a(href="#") 2 в 1
								li
									a(href="#") 3 в 1
								li
									a(href="#") Трансформеры
								li
									a(href="#") Прогулочные
								li
									a(href="#") Трости


						include components/sidebar.jade
					div(id="content-text" class="right-content clear")
						div(id="brands-header")
							input(type="text" id="brands-search" placeholder="Поиск по брендам")

							div(id="brands-sort") Сортировать: 
								a(href="#") по популярности
								span /
								a(href="#" class="active") по алфавиту

						div(id="brands-logos" class="clear")
							- for(i=0; i<40; i++)
								a(href="#" class="brand-logo-card")
									img(src="i/Tinylove-Logo.png")
									div(class="brand-logo-title") Gulliver
						

