doctype
html
	head
		include components/meta.jade
	body
		include components/header.jade

		main
			include components/home-banner.jade
			include components/home-cards.jade
			include components/home-actions.jade
			include components/home-brands.jade
			include components/home-news.jade
			