doctype
html
	head
		include components/meta.jade
	body
		include components/header.jade

		main
			section(id="content")
				include components/breadcrumbs.jade
				div(class="center clear")
					h1(class="content-header") Личный кабинет

					div(id="kabinet-tabs" class="clear")
						div(id="kabinet-tabs-wrapper")
							a(href="#") Настройки профиля
							a(href="#") История покупок
							a(href="#" class="active") Просмотр корзины



					table(id="cart-table")
						thead
							tr(class="empty")
								th(colspan="3")
								th Цена
								th Цена со скидкой
								th
						tr
							td(class="cart-image")
								img(src="i/card.png")
							td(class="cart-title")
								a(href="#") Коляска CAM Dinamica беж.
							td(class="cart-count")
								div(class="count-picker")
									input(type="number" class="hidden")
									button(class="count-button") -
									div(class="count-counter") 1
									button(class="count-button") +
							td(class="cart-price") 14000 ₽
							td(class="cart-new-price") 13000 ₽
							td(class="revove")
								button(class="revove")
									span Убрать из корзины

						tr(class="cart-footer")
							td(colspan="2" class="discount-block")
								input(type="text")
								button(class="discount-button") Получить скидку
							td(class="discount-title") Ваша скидка
							td(class="discount-size") 5%
							td(class="sum-without-discount") <s>42 000 ₽.</s>
							td(class="empty")

						tr(class="cart-footer")
							td(colspan="3" class="empty")

							td(class="delivery-title") Доставка
							td(class="delivery-size") Бесплатная
							td(class="empty")

						tr(class="cart-footer")
							td(colspan="3" class="empty")

							td(class="sum-title") Итого
							td(class="sum-size") 39 900 ₽.
							td(class="empty")

						tr(class="cart-footer")
							td(colspan="3" class="empty")

							td(class="to-shop")
								a(href="#") Вернутся к покупкам
							td(class="to-order") 
								a(href="#") Перейти к оформлению
							td(class="empty")
