doctype
html
	head
		include components/meta.jade
	body
		include components/header.jade

		main
			section(id="content")
				include components/breadcrumbs.jade
				div(class="center clear")
					aside(id="sidebar" class="left-sidebar")
						section(id="sidebar-one-levlel")
							button(class="sidebar-one-levlel-button") Коляски
							ul
								li.active
									a(href="#") Классика
								li
									a(href="#") 2 в 1
								li
									a(href="#") 3 в 1
								li
									a(href="#") Трансформеры
								li
									a(href="#") Прогулочные
								li
									a(href="#") Трости


						include components/sidebar.jade
					div(id="content-text" class="right-content")
						h1 Каталог
						div(class="clear")
							- for(i=0; i<8; i++)
								include components/card.jade
						div(id="pagination")
							a(href="#") <
							a(href="#") 1
							a(href="#") 2
							a(href="#") ...
							a(href="#") 10
							a(href="#") >
					