doctype
html
	head
		include components/meta.jade
	body
		include components/header.jade

		main
			section(id="content")
				include components/breadcrumbs.jade
				div(class="center clear")
					aside(id="sidebar" class="left-sidebar")
						include components/sidebar-one-level.jade
						include components/sidebar-catalog.jade
					div(id="content-text" class="right-content")
						h1 Каталог
						div(class="clear")
							- for(i=0; i<8; i++)
								include components/card.jade
						div(id="pagination")
							a(href="#") <
							a(href="#") 1
							a(href="#") 2
							a(href="#") ...
							a(href="#") 10
							a(href="#") >
					