doctype
html
	head
		include components/meta.jade
	body
		include components/header.jade

		main
			section(id="content")
				include components/breadcrumbs.jade
				div(class="center clear")
					aside(id="sidebar" class="left-sidebar clear")
						include components/sidebar.jade
					div(id="content-text" class="right-content clear")
						form(class="content-search")
							input(type="text")
							div(class="count-search") Найдено 20 товаров
						div(class="clear")
							- for(i=0; i<8; i++)
								include components/card.jade
						div(id="pagination")
							a(href="#") <
							a(href="#") 1
							a(href="#") 2
							a(href="#") ...
							a(href="#") 10
							a(href="#") >
					