#header
	background white
	#top-header
		border-bottom 1px solid headerBorderColor
		#top-nav
			font-size 11px
			line-height 30px
			float left
			margin 0 0 0 30px
			li
				display inline-block
				margin 0 25px 0 0
				a
					color topGray
					transition all .2s ease-in
					&:hover
						color blue

		#login-button
			float right
			margin 0 30px 0 0
			background lightPink
			border none
			color white
			width 131px
			line-height 30px
			cursor pointer
			transition all .2s ease-in
			font-size 12px
			font-weight 500
			&:hover
				background pink
		#connect-button
			margin 0 40px 0 0
			float right
			border none
			background transparent
			color blue
			font-size 12px
			font-weight 500
			line-height 30px
			cursor pointer
			span
				border-bottom 1px dashed blue
				transition all .2s ease-in
			&:hover span
				border-bottom 1px dashed white
		#header-tel
			font-family futura
			color pink
			float right
			line-height 30px
			margin 0 20px 0 0

	#mid-header
		border-bottom 1px solid headerBorderColor
		#logo
			display block
			float left
			margin 13px 30px 0
		#menu-button
			display none
			outline none
			
		#mid-nav-block
			float right
			width 670px
			margin 0 62px 0 0
			position relative
			#main-nav
				float right
				line-height 56px
				overflow auto
				#mobile-connect-button
					display none
				ul li
					display inline-block
					font-size 12px
					font-weight 500
					opacity 1
					transition all .15s ease-in
					position relative
					&.removed
						transform translateY(-50px)
						opacity 0
					a
						color lightBlue
						margin 0 25px 0 0
						transition all .2s ease-in
						&:hover
							color pink
					
			#search-button
				float right
				width 40px
				height 40px
				border none
				margin 10px 0 0 0
				background transparent
				outline none
				position relative
				cursor pointer
				span
					display none
				svg
					stroke blue
					display block
					width 100%
					height 100%
					position absolute
					left 0
					top 0
					bottom 0
					right 0
					margin auto
					transition all .15s ease-in
				&:hover
					svg
						stroke pink
				&.active
					svg
						width 0
						height 0
					&:hover:after
						background url("../i/close-popup-pink.png") no-repeat center center, transparent

					&:after
						width 100%
						height 100%
						
						
				&:after
					display block
					content ""
					width 0%
					height 0%
					position absolute
					left 0
					top 0
					bottom 0
					right 0
					margin auto
					transition all .15s ease-in
					background url("../i/close-popup.png") no-repeat center center
					
			#search-form
				input
					// display none
					position absolute
					padding 0 10px
					right 50px
					top 0
					line-height 40px
					height 40px
					width calc(100% - 72px)
					border 1px solid topGray
					border-radius 3px
					bottom 0
					margin auto
					visibility hidden
					opacity 0
					transform translateY(50px)
					transition hidden .15s ease-in, opacity .15s ease-in, transform .15s ease-in

					&.active
						visibility visible
						opacity 1
						transform translateY(0)
						
		#cart-like-block
			float right
			margin 0 30px 0 0
			a
				font-size 11px
				text-align center
				width 50px
				display block
				float left
				color lightBlue
				font-weight 500
				transition all .2s ease-in
				&:hover
					color pink
				span
					display block
					margin -5px 0 0
				svg
					margin 0 auto
					display block
				&#like-header-link
					width 60px
					margin 0 39px 0 0
					svg
						stroke pink
						width 42px
						height 42px
					span
						margin -7px 0 0
				&#cart-header-link
					margin 0 3px 0 0
					position relative
					#cart-count
						position absolute
						border 1px solid green
						background white
						color blue
						width 15px
						height 15px
						font-size 10px
						position absolute
						right 10px
						bottom 13px
						line-height 15px
						text-align center
						border-radius 50%
						
					svg
						fill pink
						width 40px
						height 40px
						margin -2px 0 2px 8px


	#bottom-header
		a
			display block
			width calc(((100% - 30px) / 8))
			float left
			text-align center
			color blue
			font-size 14px
			font-weight 500
			padding 0 0 10px
			transition all .2s ease-in
			svg
				width 55px
				height 55px
				margin 10px auto -5px
				fill blue
				stroke blue
				transition all .2s ease-in
			span
				display block
			&:hover, &.active
				color pink
				svg
					fill pink
					stroke pink


.dropdown-menu
	display block
	position absolute
	top 89px
	left 0
	right 0
	margin auto
	width 1170px
	background #FFF
	z-index 2
	line-height normal
	height 440px
	transform translateY(50px)
	opacity 0
	visibility hidden
	transition all .2s ease-in
	&.active
		visibility visible
		opacity 1
		transform translateY(0)
	// display none
	a
		transition all .2s ease-in
	li
		width calc(12.5% - 20px)
		float left
		display block
		outline 1px solid headerBorderColor
		font-size 12px
		text-transform uppercase
		padding 20px 10px
		height calc(100% - 40px)
		font-weight 500
		transition all .2s ease-in
		background-position bottom center
		background-repeat no-repeat

		&:hover
			outline 1px solid pink
			position relative
			z-index 3
			a
				color pink
				ul li a
					color blue
		a
			color blue
			&:hover a
				color pink
				text-decoration underline
		ul
			display block
			padding 20px 0 0
			li
				font-weight 300
				text-transform none
				outline none!important
				display block
				float none
				width auto
				padding 0
				line-height 16px
				margin 0 0 6px
				a
					color blue!important
					&:hover
						font-weight 500
						text-decoration underline

@media screen and (max-width: 1230px)
	.dropdown-menu
		display none

	#header
		#top-header
			#top-nav
				margin 0 0 0 20px
			#login-button
				margin 0 20px 0 0
		#mid-header
			#logo
				margin 17px 0 0 20px
				width 150px
			#cart-like-block
				margin 0 20px 0 0
				#cart-header-link
					.cart-count
						right 0
						bottom 5px
			#mid-nav-block
				margin 0 20px 0 0
				width 600px
				font-size 10px
				#main-nav
					ul li a
						margin 0 20px 0 0
		#bottom-header a
			font-size 12px
			width calc((100% - 20px) / 8)

@media screen and (max-width: 1023px)

	#header
		#top-header
			#top-nav
				margin 0 0 0 20px
			#login-button
				margin 0 20px 0 0
			#connect-button
				display none
			#header-tel
				display none
		#mid-header
			#logo
				margin 10px 0 10px 20px
				width 190px
			#menu-button
				float right
				display block
				width 25px
				height 25px
				margin 12px 20px 0 0
				border none
				background transparent
				position relative
				z-index 4
				position relative
				
				div
					position absolute
					left 0
					width 25px
					height 2px
					background blue
					transition all .2s ease
					&.line1
						top 2px
					&.line2
						top 12px
						opacity 1
					&.line3
						top 21px
				&.active
					div.line1
						transform rotate(45deg)
						top 12px
					div.line2
						opacity 0
					div.line3
						transform rotate(-45deg)
						top 12px
			#cart-like-block
				margin 0 20px 0 0
				a#like-header-link
					width 50px
					height 50px
					margin 0 20px 0 0
					svg
						width 50px
						height 50px
					span
						display none
				a#cart-header-link
					width 50px
					height 50px
					svg
						width 50px
						height 50px
					span
						display none
			#mid-nav-block
				width calc(100% - 210px - 143px - 25px - 20px)
				margin 0
				#main-nav
					background-color #fff
					position fixed
					left 0
					top 0
					z-index 3
					height 100%
					width 100%
					display table
					text-align center
					opacity 0
					transition all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55)
					transform scale(0)
					overflow auto
					line-height normal

					#mobile-connect-button
						display block
						border none
						background blue
						color white
						text-align center
						margin 10px auto
						font-weight 500
						border-radius 3px
						line-height 72px
						height 72px
						font-size 36px
						width 400px
					&.active
						opacity 1
						transform scale(1)
						ul li
							// transform: translateX(0), translateY(0)
							transform: translateX(0)!important
							// transform translateY(0)
							opacity 1!important
							transition all 400ms 510ms

					ul
						padding-top 60px
						text-align middle
						li
							display block
							transition none
							font-weight 500
							font-size 36px
							line-height 61px
							margin 0 0 20px
							a
								margin 0
							&:nth-child(odd)
								opacity 0				
								transform: translateX(30%)
								// transform translateY(0)
							&:nth-child(even)
								opacity 0
								transform: translateX(-30%)
								// transform translateY(0)
				#search-button
					margin 0 20px
					width 50px
					height 50px
				#search-form
					input
						right 70px
						height 30px
						line-height 30px
						width calc(100% - 92px)

						
		#bottom-header
			padding 0 20px
			a
				line-height 39px
				padding 0
				width auto
				display inline-block
				margin 0 20px 0 0
				svg
					display none

@media screen and (max-width: 767px)
	

	
	#header
		#top-header
			#login-button
				line-height 40px
			#top-nav
				display none
		#mid-header
			position relative
			#logo
				width 140px
				margin 10px 0 10px 20px
			#menu-button
				margin 9px 20px 0 0
			#cart-like-block
				position absolute
				left 65px
				top -35px
				a#like-header-link
					width 30px
					height 30px
					margin 0 15px 0 0
					// outline 1px solid red
					svg
						width 40px
						height 40px
						margin -4px 0 0 -3px
				a#cart-header-link
					width 30px
					height 30px
					margin 0
					// outline 1px solid red
					.cart-count
						right 0
						bottom 0
					svg
						width 40px
						height 40px
						margin -6px 0 0 -1px
				
			
					
			#mid-nav-block
				width 100%
				#main-nav
					#mobile-connect-button
						width 200px
						font-size 18px
						line-height 35px
						height 35px
					ul
						li
							font-size 18px
							line-height 42px
							margin 0
				#search-button
					position absolute
					left 0
					top -80px
					width 30px
					height 30px
					margin 0 0 0 20px
					svg
						width 40px
						height 40px
				#search-form input
					top -45px
					line-height 33px
					height 33px
					right auto
					left 20px
					width calc(100% - 85px)
		#bottom-header
			display none