#mobile-categories
	display none

@media screen and (max-width: 767px)
	#mobile-categories
		width 280px
		margin 0 auto
		display block
		padding 30px 0 0
		a
			display block
			width 50%
			margin 0 0 20px
			float left
			height 50px
			color blue
			font-weight 500
			.mobile-categories-icon
				display block
				float left
				width 50px
				height 50px
				margin 0 10px 0 0
			span
				display table-cell
				height 50px
				vertical-align middle
				width 100px
				font-size 14px