#profile-left
	float left
	width 470px
	margin 30px 0 0 30px
	label
		font-size 14px
		font-weight 500
		color blue
		width 170px
		display block
		line-height 37px
		float left
	input:not([type="submit"])
		line-height 35px
		border 1px solid topGray
		border-radius 2px
		margin 0 0 16px 30px
		width 248px
		padding 0 10px
		font-size 14px
		color blue
		height 35px
		float left
		display block
	span
		color pink
		font-weight 500
	#profile-left-info
		margin 10px 0 22px 200px
		font-size 14px
		font-weight 300
	input[type="submit"]
		margin 0 0 16px 200px
		width 170px
		border none
		background lightBlue
		color white
		font-size 18px
		font-weight 700
		border-radius 3px
		line-height 42px
		cursor pointer
		transition all .2s ease-in
		&:hover
			background blue

#profile-right
	float right
	margin 30px


@media screen and (max-width: 1230px)


	#profile-left
		width calc(50% - 40px)
		margin 30px 0 0 20px
		label
			font-size 12px
			width 140px
			margin 0 0 13px 0
			line-height 28px
		input:not([type="submit"])
			line-height 28px
			border 1px solid topGray
			border-radius 2px
			margin 0 0 13px 20px
			width 202px
			font-size 14px
			height 28px

		#profile-left-info
			margin 10px 0 15px 160px
			font-size 12px
		input[type="submit"]
			margin 0 0 16px 160px
			width 140px
			font-size 15px
			line-height 35px

	#profile-right
		float right
		margin 30px 20px 30px 0
		width calc(50% - 20px)

@media screen and (max-width: 1023px)


	#profile-left
		width 280px
		margin 30px auto
		float none
		label
			float none
			width auto
			margin 10px 0 0
		input:not([type="submit"])
			float none
			width 258px
			margin 0 auto 10px

		#profile-left-info
			width auto
			margin 10px auto
		input[type="submit"]
			float none
			margin 0 auto
			width 280px

	#profile-right
		display none