#profile-left
	float left
	width 470px
	margin 30px 0 0 30px
	label
		font-size 14px
		font-weight 500
		color blue
		width 170px
		display block
		line-height 37px
		float left
	input:not([type="submit"])
		line-height 35px
		border 1px solid topGray
		border-radius 2px
		margin 0 0 16px 30px
		width 248px
		padding 0 10px
		font-size 14px
		color blue
		height 35px
		float left
		display block
	span
		color pink
		font-weight 500
	#profile-left-info
		margin 10px 0 22px 200px
		font-size 14px
		font-weight 300
	input[type="submit"]
		margin 0 0 16px 200px
		font-size 14px
		font-weight 300
		width 170px
		border none
		background lightBlue
		color white
		font-size 18px
		font-weight 700
		border-radius 3px
		line-height 42px
		cursor pointer
		transition all .2s ease-in
		&:hover
			background blue

#profile-right
	float right
	margin 30px
