.subcategory-card
	display block
	float left
	width calc(33.33333333% - 30px)
	margin 0 0 30px 30px
	.subcategory-image
		border 1px solid subcategoryCardBorder
		display block
		transition all .2s ease-in
		position relative
		padding-top 100%
		img
			position absolute
			left 0
			top 0
			right 0
			bottom 0
			margin auto
			display block
			max-width clac(100% - 2px)
			max-heignt clac(100% - 2px)
	.subcategory-card-title
		font-family futura
		font-size 16px
		line-height 28px
		color white
		background sidebarBlue
		transition all .2s ease-in
		overflow hidden
		height 57px
		span
			display table-cell
			width 270px
			padding 0 25px
			height 57px
			vertical-align middle
	&:hover
		.subcategory-image
			border 1px solid lightPink
		.subcategory-card-title
			background lightPink

@media screen and (max-width: 1023px)

	.subcategory-card
		width calc(50% - 20px)
		margin 0 0 30px 20px

@media screen and (max-width: 767px)

	.subcategory-card
		width auto
		float none
		margin 0 20px 30px