div(class="card clear")
	a(href='#' class="card-image-link clear")
		img(src="/i/card.png")
	div(class="card-content")
		a(href="#" class="card-title") Детский комплект Mona Liza Disney Золушка
		div(class="clear")
			div(class="card-code") Артикул 1000012231344
			div(class="card-absent green") В наличии
		div(class="card-price")
			div(class="old-price") <s>980</s> ₽
			div(class="price") 850 ₽
		form(class="card-form clear")
			div(class="count-picker")
				input(type="number" class="hidden")
				button(class="count-button") -
				div(class="count-counter") 1
				button(class="count-button") +
			button(class="card-add-button") В корзину
		div(class="card-tag new") new
		div(class="card-tag action") Акция
		div(class="card-tag discount") 15% скидка