ul(class="dropdown-menu clear")
	li(style="background-image: url('/i/dropdown-1.png')")
		a(href="#") Коляски
		ul
			li
				a(href="#") Классика
			li
				a(href="#") 2 в 1
			li
				a(href="#") 3 в 1
			li
				a(href="#") Трансформеры
			li
				a(href="#") Прогулочные
			li
				a(href="#") Трости
	li(style="background-image: url('/i/dropdown-2.png')")
		a(href="#") Автокресла
		ul
			li
				a(href="#") Автокресла 0-13 кг
			li
				a(href="#") Автокресла 0-18 кг
			li
				a(href="#") Автокресла 9-18 кг
			li
				a(href="#") Автокресла 9-25 кг
			li
				a(href="#") Автокресла от 15 кг
			li
				a(href="#") Автокресла от 22 кг
	li
		a(href="#") Детская мебель
		ul
			li
				a(href="#") Кроватки
			li
				a(href="#") Комоды
			li
				a(href="#") Шкафы
			li
				a(href="#") Детские комнаты
			li
				a(href="#") Матрацы ортопедические
			li
				a(href="#") Аксессуары для детской комнаты
			li
				a(href="#") Комплекты постельного белья
			li
				a(href="#") Стулья для кормления
			li
				a(href="#") Манежи
			li
				a(href="#") Ходунки
			li
				a(href="#") Шезлонги
			li
				a(href="#") Детские столы и стулья
			li
				a(href="#") Качели
			li
				a(href="#") Ворота и барьеры
	li
		a(href="#") Малыш и мама
		ul
			li
				a(href="#") Выписка из роддома
			li
				a(href="#") Техника
			li
				a(href="#") Косметика для малышей
			li
				a(href="#") Уход и косметика для мам
			li
				a(href="#") Белье для мам
			li
				a(href="#") Товары для кормления
			li
				a(href="#") Подгузники
			li
				a(href="#") Гигиена и уход
			li
				a(href="#") Прорезыватели
			li
				a(href="#") Ванны и купание
			li
				a(href="#") Горшки детские и другое
			li
				a(href="#") Бытовая химия
			li
				a(href="#") Защита в доме
	li(style="background-image: url('/i/dropdown-3.png')")
		a(href="#") Одежда
		ul
			li
				a(href="#") Школьная форма
			li
				a(href="#") Одежда для новорожденных
			li
				a(href="#") Одежда для мальчиков
			li
				a(href="#") Одежда для девочек
			li
				a(href="#") Аксессуары
			li
				a(href="#") Нижнее белье
			li
				a(href="#") Носки, колготки для малышей
	li(style="background-image: url('/i/dropdown-4.png')")
		a(href="#") Обувь
		ul
			li
				a(href="#") Босоножки, сандалии
			li
				a(href="#") Туфли
			li
				a(href="#") Кроссовки
			li
				a(href="#") Ботинки
			li
				a(href="#") Сапоги
	li(style="background-image: url('/i/dropdown-5.png')")
		a(href="#") Игры и игрушки
		ul
			li
				a(href="#") Для малышей
			li
				a(href="#") Для мальчиков
			li
				a(href="#") Для девочек
			li
				a(href="#") Конструкторы
			li
				a(href="#") Творчество и развитие
			li
				a(href="#") Книги и раскраски
			li
				a(href="#") Для  улицы
			li
				a(href="#") Электромобили
			li
				a(href="#") Велосипеды. самокаты
			li
				a(href="#") Спортивные комплексы и тренажеры
	li(style="background-image: url('/i/dropdown-6.png')")
		a(href="#") Товары для школы
		ul
			li
				a(href="#") Школьная форма
			li
				a(href="#") Ранцы
			li
				a(href="#") Пеналы, сменки
			li
				a(href="#") Сопутствующие товары