footer(id="footer")
	div(class="top-footer")
		div(class="center clear")
			div(id="company-info")
				div(class="footer-contacts-block")
					a(href="#" id="footer-logo")
						img(src="i/logo.png")

					button(id="footer-call-you" class="modal-open" data-modal="call-you-modal") Заказать звонок
					a(href="#" id="footer-tel") 8 (863) 200 40 50
				div(class="footer-subscribe-block")
					div(id="footer-social" class="clear")
						div Присоединяйся
						a(href="#" class="google")
						a(href="#" class="mail")
						a(href="#" class="ok")
						a(href="#" class="vk")

					div(id="footer-subscribe" class="clear")
						div Подписка на новости
						form(action="#")
							input(type="email" placeholder="Email")
							input(type="submit")
			div(id="footer-nav")
				div(class="footer-nav-column mobile-show")
					h2
						a(href="#") Интернет-магазин
					ul
						li
							a(href="#") Поиск и карта сайт
						li
							a(href="#") О Компании
						li
							a(href="#") Акции
						li
							a(href="#") Товары по брендам
						li
							a(href="#") Товары по героям
						li
							a(href="#") Бонусы
						li
							a(href="#") Новости
						li
							a(href="#") Доставка
						li
							a(href="#") Гарантии
						li
							a(href="#") Оплата
						li
							a(href="#") Контакты
						li
							a(href="#") Личный кабинет


				div(class="footer-nav-column")
					h2
						a(href="#") Коляски
					ul
						li
							a(href="#") Классика
						li
							a(href="#") 2 в 1
						li
							a(href="#") 3 в 1
						li
							a(href="#") Трансформеры
						li
							a(href="#") Прогулочные
						li
							a(href="#") Трости
					h2
						a(href="#") Автокресла
					ul
						li
							a(href="#") Автокресла 0-13 кг
						li
							a(href="#") Автокресла 0-18 кг
						li
							a(href="#") Автокресла 9-18 кг
						li
							a(href="#") Автокресла 9-25 кг
						li
							a(href="#") Автокресла от 15 кг
						li
							a(href="#") Автокресла от 22 кг


				div(class="footer-nav-column")
					h2
						a(href="#") Детская мебель
					ul
						li
							a(href="#") Кроватки
						li
							a(href="#") Комоды
						li
							a(href="#") Шкафы
						li
							a(href="#") Детские комнаты
						li
							a(href="#") Матрацы ортопедические
						li
							a(href="#") Аксессуары для детской комнаты
						li
							a(href="#") Комплекты постельного белья
						li
							a(href="#") Стулья для кормления
						li
							a(href="#") Манежи
						li
							a(href="#") Ходунки
						li
							a(href="#") Шезлонги
						li
							a(href="#") Детские столы и стулья
						li
							a(href="#") Качели
						li
							a(href="#") Ворота и барьеры


				div(class="footer-nav-column")
					h2
						a(href="#") Малыш и мама
					ul
						li
							a(href="#") Выписка из роддома
						li
							a(href="#") Техника
						li
							a(href="#") Косметика для малышей
						li
							a(href="#") Уход и косметика для мам
						li
							a(href="#") Белье для мам
						li
							a(href="#") Товары для кормления
						li
							a(href="#") Подгузники
						li
							a(href="#") Гигиена и уход
						li
							a(href="#") Прорезыватели
						li
							a(href="#") Ванны и купание
						li
							a(href="#") Горшки детские и другое
						li
							a(href="#") Бытовая химия
						li
							a(href="#") Защита в доме


				div(class="footer-nav-column")
					h2
						a(href="#") Одежда
					ul
						li
							a(href="#") Школьная форма
						li
							a(href="#") Одежда для новорожденных
						li
							a(href="#") Одежда для мальчиков
						li
							a(href="#") Одежда для девочек
						li
							a(href="#") Аксессуары
						li
							a(href="#") Нижнее белье
						li
							a(href="#") Носки, колготки для малышей
					h2
						a(href="#") Обувь
					ul
						li
							a(href="#") Босоножки, сандалии
						li
							a(href="#") Туфли
						li
							a(href="#") Кроссовки
						li
							a(href="#") Ботинки
						li
							a(href="#") Сапоги


				div(class="footer-nav-column")
					h2
						a(href="#") Игры и игрушки
					ul
						li
							a(href="#") Для малышей
						li
							a(href="#") Для мальчиков
						li
							a(href="#") Для девочек
						li
							a(href="#") Конструкторы
						li
							a(href="#") Творчество и развитие
						li
							a(href="#") Книги и раскраски
						li
							a(href="#") Для  улицы
						li
							a(href="#") Электромобили
						li
							a(href="#") Велосипеды. самокаты
						li
							a(href="#") Спортивные комплексы и тренажеры

					h2
						a(href="#") Товары для школы

					ul
						li
							a(href="#") Школьная форма
						li
							a(href="#") Ранцы
						li
							a(href="#") Пеналы, сменки
						li
							a(href="#") Сопутствующие товары
		button(id="show-more-foot-navs") Посмотреть еще

	div(id="bottom-footer")
		div(class="center clear")
			div(class="metrics")
			div(class="made-in") Сайт разработан в студии 
				a(href="#") MakeArt


div(id="modal-backing")
div(id="call-you-modal" class="modal")
	form
		div(class="call-you-header") Заказать звонок
		input(type="text" placeholder="Ваше Имя")
		input(type="text" placeholder="(ХХХ) ХХХ ХХ ХХ")
		input(type="submit" value="Оставить заявку")

	button(class="close-modal")



div(id="registration" class="clear modal")
	div(class="registration-left")
		a(href="#" class="google") Войти через Google+
		a(href="#" class="vk") Войти через VK
		a(href="#" class="ok") Войти через OK
	form(class="registration-right")
		div(class="registration-header") Зарегистрироваться
		input(type="text" placeholder="Ваше Имя")
		input(type="email" placeholder="Email")
		input(type="password" placeholder="Пароль")
		input(type="password" placeholder="Повторите пароль")

		label(class="checkbox-ui")
			input(type="checkbox")
			div(class="checkbox-item")
			div Я хочу получать новости об акциях


		input(type="submit" value="Зарегистрироваться")

		div(class="registration-to-login") Уже зарегистрированы?
			button Войти

	button(class="close-modal")




div(id="login-modal" class="clear modal")
	div(class="login-right")
		a(href="#" class="google") Войти через Google+
		a(href="#" class="vk") Войти через VK
		a(href="#" class="ok") Войти через OK
	form(class="login-left")
		div(class="login-header") Войти
		input(type="email" placeholder="Email")
		input(type="password" placeholder="Пароль")

		label(class="checkbox-ui")
			input(type="checkbox")
			div(class="checkbox-item")
			div Запомнить меня


		input(type="submit" value="Зарегистрироваться")

		div(class="login-to-registration") Не зарегистрированы?
			button Зарегистрироваться

	button(class="close-modal")




div(id="thx" class="modal")
	div(id="thx-header") Спасибо, за регистрацию!

	button(class="close-modal")


div(class="added-wrapper")
	div(id="added-block")
		div(class="add-cart-block")
			img(src="i/card.png")
			div(class="add-cart-block-content")
				div(class="add-cart-block-title") Коляска CAM Dinamica беж.
				div(class="add-cart-block-price") + 14 000 ₽
			div(class="clearfix")