header(id="header")
	div(id="top-header")
		div(class="center clear")
			div(id="top-nav")
				ul
					li
						a(href="#") Оплата и Доставка
					li
						a(href="#") Гарантии
					li
						a(href="#") Новости
					li
						a(href="#") Контакты

			button(id="login-button" class="modal-open" data-modal="login-modal") Личный кабинет
			button(id="connect-button" class="modal-open" data-modal="call-you-modal")
				span Свяжитесь с нами
			a(href="tel:88632334050" id="header-tel") 8 863 233 40 50
	div(id="mid-header")
		div(class="center clear")
			a(href="/" id="logo")
				img(src="i/logo.png")
			button(id="menu-button")
				div.line1
				div.line2
				div.line3
			div(id="cart-like-block")
				a(href="#" id="like-header-link")
					include ../../icons/heart.svg
					span Избранное
				a(href="#" id="cart-header-link")
					include ../../icons/cart.svg
					span Корзина
					div(id="cart-count") 20
			div(id="mid-nav-block" class="clear")
				form(id="search-form")
					input(type="search" id="search-input" placeholder="Название товара")
				button(id="search-button")
					include ../../icons/search.svg
					span Поиск по сайту
				nav(id="main-nav")
					ul
						li
							a(href='#' class="dropdown-show") Каталог
						li
							a(href='#') О компании
						li
							a(href='#') Акции
						li
							a(href='#') Бонусы
						li
							a(href='#') Товары по брендам
						li
							a(href='#') Товары по героям
					button(id="mobile-connect-button" class="modal-open" data-modal="call-you-modal") Заказать звонок

				



	div(id="bottom-header")
		div(class="center clear")
			a(href="#" class="active")
				div(class="header-icon")
					div(class="header-icon-blue" style="background-image: url('i/head-icon-1.png');")
					div(class="header-icon-pink" style="background-image: url('i/head-pink-icon-1.png');")

				span Коляски
			a(href="#")
				div(class="header-icon")
					div(class="header-icon-blue" style="background-image: url('i/head-icon-2.png');")
					div(class="header-icon-pink" style="background-image: url('i/head-pink-icon-2.png');")
				span Автокресла
			a(href="#")
				div(class="header-icon")
					div(class="header-icon-blue" style="background-image: url('i/head-icon-3.png');")
					div(class="header-icon-pink" style="background-image: url('i/head-pink-icon-3.png');")
				span Детская мебель
			a(href="#")
				div(class="header-icon")
					div(class="header-icon-blue" style="background-image: url('i/head-icon-4.png');")
					div(class="header-icon-pink" style="background-image: url('i/head-pink-icon-4.png');")
				span Малыш и мама
			a(href="#")
				div(class="header-icon")
					div(class="header-icon-blue" style="background-image: url('i/head-icon-5.png');")
					div(class="header-icon-pink" style="background-image: url('i/head-pink-icon-5.png');")
				span Одежда
			a(href="#")
				div(class="header-icon")
					div(class="header-icon-blue" style="background-image: url('i/head-icon-6.png');")
					div(class="header-icon-pink" style="background-image: url('i/head-pink-icon-6.png');")
				span Обувь
			a(href="#")
				div(class="header-icon")
					div(class="header-icon-blue" style="background-image: url('i/head-icon-7.png');")
					div(class="header-icon-pink" style="background-image: url('i/head-pink-icon-7.png');")
				span Игрушки
			a(href="#")
				div(class="header-icon")
					div(class="header-icon-blue" style="background-image: url('i/head-icon-8.png');")
					div(class="header-icon-pink" style="background-image: url('i/head-pink-icon-8.png');")
				span Товары для школы

include dropdown-menu.jade