section(id="home-news")
	div(class="center")
		div(class="headers-blocks clear")
			h2 Новости
		div(class="clear")
			- for(x=0;x<3;x++)
				div(class="home-news-card clear")
					a(href="#" class="news-card-image")
						img(src="i/news.png")
					div(class="news-card-content")
						a(href="#" class="news-card-title") Поступил в продажу игровой набор «Свинка пеппа»
						time(class="news-card-time") 7 июля 2015
						a(href="#" class="news-card-more-link") Подробнее &#62;