section(id="home-actions")
	div(class="center")
		div(class="headers-blocks clear")
			h2 Акции
		div(class="clear")

			a(href="#" class="small-action-card")
				img(src="i/actions.png")
				div(class="action-title") Скидки от 20% на коляски
				div(class="action-more") Подробнее

			a(href="#" class="small-action-card")
				img(src="i/actions.png")
				div(class="action-title") Скидки от 20% на коляски
				div(class="action-more") Подробнее

			a(href="#" class="big-action-card")
				img(src="i/big-action.png")
				div(class="action-title") Скидки от 20% на коляски
				div(class="action-more") Подробнее

			a(href="#" class="big-action-card no-mobile")
				img(src="i/big-action.png")
				div(class="action-title") Скидки от 20% на коляски
				div(class="action-more") Подробнее

			a(href="#" class="small-action-card no-mobile")
				img(src="i/actions.png")
				div(class="action-title") Скидки от 20% на коляски
				div(class="action-more") Подробнее

			a(href="#" class="small-action-card no-mobile")
				img(src="i/actions.png")
				div(class="action-title") Скидки от 20% на коляски
				div(class="action-more") Подробнее
