section(id="home-cards")
	div(class="center clear tabs")
		div(id="home-cards-buttons" class="clear")
			div(class="home-cards-button tab-button active") Хиты продаж
			div(class="home-cards-button tab-button") Новинки
			div(class="home-cards-button tab-button") Скидки
		div(class="tabs-contents")
			div(class="home-cards-tab tab-content active")
				-for(i=0; i<4; i++)
					include card.jade
			div(class="home-cards-tab tab-content")
				-for(i=0; i<2; i++)
					include card.jade
			div(class="home-cards-tab tab-content")
				-for(i=0; i<3; i++)
					include card.jade