section(id="home-brands")
	div(class="center")
		div(class="headers-blocks clear")
			h2 Бренды
		div(class="clear home-brands-cards")
			-for(i=0; i<12; i++)
				a(href="#" class="home-brand-card")
					img(src="i/Tinylove-Logo.png")
		a(href="#" class="more-button") Просмотреть еще