section(id="home-banner")
	div(class="center clear")
		div(id="home-banner-slider")
			div(class="home-banner-slider-wrapper")
				a(href="#" class="slide")
					img(src="/i/slide-img.png")
					div(class="slide-title") Автокресла
				a(href="#" class="slide")
					img(src="/i/slide-img.png")
					div(class="slide-title") Автокресла
				a(href="#" class="slide")
					img(src="/i/slide-img.png")
					div(class="slide-title") Автокресла
				a(href="#" class="slide")
					img(src="/i/slide-img.png")
					div(class="slide-title") Автокресла
				a(href="#" class="slide")
					img(src="/i/slide-img.png")
					div(class="slide-title") Автокресла
		div(id="home-banner-banner")
			a(href="#")
				img(src="i/banner.png")