a(href="#" class="inside-action")
	div(class="inside-action-card-image")
		img(src="i/actions.png")
	div(class="inside-action-title") Новая коллекция школьной формы
	time(class="inside-action-time") с 12 августа по 10 сентября