
meta(charset="UTF-8")
meta(content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport")
link(rel="stylesheet" href="/owlcarousel/owl.carousel.css")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
script(src="js/masonry.js")
script(src="js/main.js")
link(rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css")
script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
script(src="/owlcarousel/owl.carousel.min.js")
link(rel="stylesheet" href="css/style.css")