section(id="mobile-categories" class="clear")
	a(href="#" class="active")
		div(class="mobile-categories-icon" style="background-image: url('i/head-icon-3.png');")

		span Коляски
	a(href="#")
		div(class="mobile-categories-icon" style="background-image: url('i/head-icon-3.png');")
		span Автокресла
	a(href="#")
		div(class="mobile-categories-icon" style="background-image: url('i/head-icon-3.png');")
		span Детская мебель
	a(href="#")
		div(class="mobile-categories-icon" style="background-image: url('i/head-icon-3.png');")
		span Малыш и мама
	a(href="#")
		div(class="mobile-categories-icon" style="background-image: url('i/head-icon-3.png');")
		span Одежда
	a(href="#")
		div(class="mobile-categories-icon" style="background-image: url('i/head-icon-3.png');")
		span Обувь
	a(href="#")
		div(class="mobile-categories-icon" style="background-image: url('i/head-icon-3.png');")
		span Игрушки
	a(href="#")
		div(class="mobile-categories-icon" style="background-image: url('i/head-icon-3.png');")
		span Товары для школы