button(id="sidebar-categories-open") Каталог
section(id="sidebar-categories" class="mobile-hide")
	ul
		li.active
			a(href="#") Коляски
			ul
				li
					a(href="#") Классика
				li
					a(href="#") 2 в 1
				li
					a(href="#") 3 в 1
				li
					a(href="#") Трансформеры
				li
					a(href="#") Прогулочные
				li
					a(href="#") Трости
		li
			a(href="#") Автокресла
			ul
				li
					a(href="#") Классика
				li
					a(href="#") 2 в 1
				li
					a(href="#") 3 в 1
				li
					a(href="#") Трансформеры
				li
					a(href="#") Прогулочные
				li
					a(href="#") Трости
		li
			a(href="#") Детская мебель
		li
			a(href="#") Малыш и мама
		li
			a(href="#") Одежда
		li
			a(href="#") Обувь
		li
			a(href="#") Игры и игрушки
		li
			a(href="#") Товары для школы