section(id="sidebar-one-levlel")
	button(class="sidebar-one-levlel-button") Коляски
	ul
		li.active
			a(href="#") Классика
		li
			a(href="#") 2 в 1
		li
			a(href="#") 3 в 1
		li
			a(href="#") Трансформеры
		li
			a(href="#") Прогулочные
		li
			a(href="#") Трости