button(class="sidebar-filter-button") Сортировка
section(id="sidebar-filter" class="clear")
	form(action="#")
		h2 Сортировка
		h3 Бренд
		input(type="text" id="sidebar-search" placeholder="Поиск бренда")
		label(class="checkbox-ui")
			input(type="checkbox")
			div(class="checkbox-item")
			div Baby Care
		label(class="checkbox-ui")
			input(type="checkbox")
			div(class="checkbox-item")
			div Chicco
		label(class="checkbox-ui")
			input(type="checkbox")
			div(class="checkbox-item")
			div Happy baby
		label(class="checkbox-ui")
			input(type="checkbox")
			div(class="checkbox-item")
			div Jetem
		label(class="checkbox-ui")
			input(type="checkbox")
			div(class="checkbox-item")
			div Rant
		label(class="checkbox-ui")
			input(type="checkbox")
			div(class="checkbox-item")
			div Noordi

		h3(class="price-header") Цена
		div(class="clear")
			label(class="price-from") От
				input(type="text")
			label(class="price-to") До
				input(type="text")

		div(class="my-range-w")
			div(class="my-range")
			div(class="my-range-value")
				div(class="v-min") 200
				div(class="v-max") 100000
		button(type="reset" id="reset-filter") Сбросить все