a(href="#" class="subcategory-card")
	div(class="subcategory-image")
		img(src="i/card.png")
	div(class="subcategory-card-title")
		span Коляски «классика» safasgklask lkdsgfsdkjf lksdjglkdsg lkdsgjsdgkls jdksg lksdjglkdsg lkdsgjsdgkls jdksg lksdjglkdsg lkdsgjsdgkls jdksg lksdjglkdsg lkdsgjsdgkls jdksg